
a.spoiler:after {
content: " open ";}

a.spoiler.collapsed:after{
content: " hide ";}

table.navbar td a, table.navbar td a.he {
    display: block;
    font-size: 10pt;
    font-weight: 700;
    height: 35px;
    padding: 3px 5px;
    text-align: center;
    text-decoration: none;
    width: 38px;
}

table.navbar td a.onm-gases, table.navbar td a.onm-gases {
/*table.navbar td a.onm-gases:link, table.navbar td a.onm-gases:visited {
*/    background-color: #f96;
    border: #0f5782 1px solid;
    color: green;
}

table.navbar td a.ngases:link, table.navbar td a.ngases:visited {
    background-color: #e6e6fa;
    border: #0f5782 1px solid;
    color: green;
}

table.navbar td a.ngases:link, table.navbar td a.ngases:visited {
    background-color: #e6e6fa;
    border: #0f5782 1px solid;
    color: green;
}

table.navbar td {
    border: 1px solid #FFF;
    height: 40px;
    width: 45px;
}

table.navbar td a.onm:link, table.navbar td a.onm:visited {
    background-color: #f96;
    border: #0f5782 1px solid;
    color: #000;
}

.navbar td a.rare:link, .navbar td a.rare:visited {
    background-color: #FCEFF0;
    border: #0f5782 1px solid;
    color: #000;
}

.navbar td a.alkali:link, .navbar td a.alkali:visited {
    background-color: #dda0dd;
    border: #0f5782 1px solid;
    color: #000;
}

.navbar td a.tmetals-synthetic:link, .navbar td a.tmetals-synthetic:visited {
    background-color: #FFF28E;
    border: #0f5782 1px solid;
    color: #a52a2a;
}

table.navbar, table.navbar1 {
    border-collapse: collapse;
    border-spacing: 1px;
    line-height: 120%;
}

table.navbar td a.ngases:link, table.navbar td a.ngases:visited {
    background-color: #e6e6fa;
    border: #0f5782 1px solid;
    color: green;
}

.info {
    background-color: #f5f5f5;
    color: #333;
    text-align: center;
}

td .ngases {
    background: #e6e6fa;
}


td .ometals {
    background-color: #cdeb8b;
}

a:-webkit-any-link {
    color: -webkit-link;
    text-decoration: underline;
    cursor: auto;
}

table {
    display: table;
    border-collapse: separate;
    border-spacing: 2px;
    border-color: grey;
}

.navbar td a.rare-synthetic:link, .navbar td a.rare-synthetic:visited {
    background-color: #FCEFF0;
    border: #0f5782 1px solid;
    color: #a52a2a;
}

td .alkali, td .alkalie, td .ometals, td .metalloid, td .halogens, td .tmetals, td .rare, td .ngases, td .onm {
    border: #0f5782 0 solid;
    color: #000;
    display: block;
    font-size: 10pt;
    font-weight: 400;
    height: 35px;
    padding: 3px 5px;
    text-align: center;
    text-decoration: none;
    width: 60px;
}

td .liquid, td .solid, td .gas, td .synthetic {
    background-color: #fff;
    border: #0f5782 0 solid;
    display: block;
    font-size: 10pt;
    font-weight: 700;
    height: 35px;
    padding: 3px 5px;
    text-align: center;
    text-decoration: none;
    width: 68px;
}

.navbar td a.ometals-liquid:link, .navbar td a.ometals-liquid:visited {
    background-color: #cdeb8b;
    border: #0f5782 1px solid;
    color: #00f;
}

.navbar td a.halogens-gases:link, .navbar td a.halogens-gases:visited {
    background-color: #ebdca9;
    border: #0f5782 1px solid;
    color: green;
}

.navbar td a.tmetals-liquid:link, .navbar td a.tmetals-liquid:visited {
    background-color: #FFF28E;
    border: #0f5782 1px solid;
    color: #00f;
}

.navbar td a.alkali-liquid:link, .navbar td a.alkali-liquid:visited {
    background-color: #dda0dd;
    border: #0f5782 1px solid;
    color: #00f;
}

.navbar td a.unnamed:link, .navbar td a.unnamed:visited {
    background-color: #fff;
    border: #0f5782 1px solid;
    color: #a52a2a;
}

.navbar td a.actlan:link, .navbar td a.actlan:visited {
    background-color: #FCEFF0;
    border: #0f5782 1px solid;
    color: #000;
}

.navbar td a.halogens:link, .navbar td a.halogens:visited {
    background-color: #ebdca9;
    border: #0f5782 1px solid;
    color: #000;
}

.navbar td a.halogens-liquid:link, .navbar td a.halogens-liquid:visited {
    background-color: #ebdca9;
    border: #0f5782 1px solid;
    color: #00f;
}

.navbar td a.ometals:link, .navbar td a.ometals:visited {
    background-color: #cdeb8b;
    border: #0f5782 1px solid;
    color: #000;
}

.navbar td a.metalloid:link, .navbar td a.metalloid:visited {
    background-color: #c79810;
    border: #0f5782 1px solid;
    color: #000;
}

.navbar td a.tmetals:link, .navbar td a.tmetals:visited {
    background-color: #FFF28E;
    border: #0f5782 1px solid;
    color: #000;
}

.navbar td a.alkalie:link, .navbar td a.alkalie:visited {
    background-color: #90c7ff;
    border: #0f5782 1px solid;
    color: #000;
}

td .alkali {
    background-color: #dda0dd;
}

td .ometals {
    background-color: #cdeb8b;
}

td .liquid {
    color: #00f;
}

td .tmetals {
    background-color: #FFF28E;
}

td .synthetic {
    color: #a52a2a;
}

td .metalloid {
    background-color: #c79810;
}

td .gas {
    color: #006400;
}

td .alkalie {
    background-color: #90c7ff;
}

td .onm {   /*other no-metals*/
    background-color: #f96;
}

td .halogens {
    background-color: #ebdca9;
}

td .rare {
    background-color: #FCEFF0;
}


/*_____________________________*/
/*.alkali, .alkalie, .onm, .ometals, .tmetals, .rare, .ngases, .metalloid, .halogens, .unnamed {
    float: left;
    width: 54px;
    padding: 5px;
    border-right: 254px solid #f5f5f5;
}*/




.delivery_block{
    width: 270px;
    padding: 24px 0 0;
    color: #8c8c8c;
    font-size: 11px;
}

.delivery_block .delivery_list {
    padding: 3px 6px 0 6px;
    height: 22px;
    cursor: pointer;
    border-radius: 4px;
    margin: 0 20px 0 0;
    color: #ed4226;
    border: 1px solid #efefef;

    width: 237px;
    z-index: 11;
    background: #fcfcfc;
}

.delivery_list #btn {
    background: url(../images/dropdown.png);
    width: 17px;
    height: 18px;
    float: right;
}

.delivery_list span {
    padding: 2px 0 0 2px;
    display: block;
    font-weight: bold;
}

.delivery_block ul.cities_list {
    margin-top: 0px;
    z-index: 10;
    background: #fcfcfc;
    position: absolute;
    border-radius: 3px;
    width: 249px;
    padding: 0;
    border: 1px solid #eee;
    display: none;
}

ul.cities_list li {
    padding: 6px 9px;
    list-style-type: none;
    border-top: 1px solid #efefef;
}

ul.cities_list li:hover {
    cursor: pointer;
    background: #fff;
}

.delivery_block .delivery_text {
    padding: 3px 5px;
    margin: 5px 0 0 3px;
}

